<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAHM</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&family=Xanh+Mono:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/index.css">

    <script src="https://kit.fontawesome.com/10856fe2b6.js" crossorigin="anonymous"></script>

    <!-- <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script> -->

</head>
<body>

    <section id="popups">
        <div class="add-to-clipboard">
            <p>Information enregistrée dans le presse-papiers.</p>
        </div>
    </section>
    
    <section id="landing-page">

        <nav>
        
            <span class="left">
                <a href="#" class="logo"><span>RA</span><span>HM</span></a>
            </span>
            <span class="right">
                <a href="#prayer-times" class="nav-link">Horaires</a>
                <a href="#about" class="nav-link">A propos</a>
                <a href="#" class="nav-link">Services</a>

                <!-- <button>
                    <div></div>
                    <div></div>
                    <div></div>
                </button> -->
            </span>

        </nav>

        <div>

            <div class="left">
                <a class="social-media" href="https://www.facebook.com/p/Mosque-mohsinine-100068033047489/" target="_blank">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <button class="social-media" onclick="copyToClipBoard()">
                    <i class="fa-solid fa-at"></i>
                </button>
                <button class="social-media" onclick="copyToClipBoard()">
                    <i class="fa-solid fa-phone"></i>
                </button>
            </div>
            <div class="mid">
                <h1>مسجد المحسنين<span>Ouverte à tous, au service de chacun.</span></h1>
            </div>
            <div class="right">
                <span></span>
                <p> 179se. (Hamza.C)</p>
                <span></span>
            </div>

        </div>

    </section>

    <section id="prayer-times">
        
        <div class="current-date">
            <h1>00:00:00</h1>
            <p>01 muharam 2025</p>
            <p>Lundi 01 janvier 2025</p>
        </div>

        <div class="prayer-box">
            <div><span class="name"><h3>Fajr</h3></span><span class="time"><h1>00:00</h1></span><span class="extra-time"><p>+00</p></span></div>
            <div><span class="name"><h3>Dhuhr</h3></span><span class="time"><h1>00:00</h1></span><span class="extra-time"><p>+00</p></span></span></div>
            <div class="active"><span class="name"><h3>Asr</h3></span><span class="time"><h1>00:00</h1></span><span class="extra-time"><p>+00</p></span></span></div>
            <div><span class="name"><h3>Maghrib</h3></span><span class="time"><h1>00:00</h1></span><span class="extra-time"><p>+00</p></span></span></div>
            <div><span class="name"><h3>Isha</h3></span><span class="time"><h1>00:00</h1></span><span class="extra-time"><p>+00</p></span></span></div>
        </div>

        <div class="sub-text">
            <p>Les horaires affichés sont calculés selon le calendrier local et peuvent légèrement varier selon les jours et les méthodes de calcul. Nous vous invitons à les consulter régulièrement et à vous référer à l’adhan (appel à la prière) comme repère principal.</p>
        </div>

    </section>

    <section id="about">
        <div class="left">
            <span>
                <h1>À propos de la mosquée</h1>
                <p>La mosquée Al Mohsinine est un lieu de recueillement, de prière et de fraternité ouvert à toutes et à tous. Elle s'efforce chaque jour d'offrir un cadre accueillant, spirituel et éducatif au service de la communauté.</p>
            </span>
            <span>
                <h4>Adresse</h4>
                <p>avenue farcienne 30300 Beaucaire, France</p>
            </span>
        </div>
        <div class="right">
            <!-- <model-viewer src="../static/models/RAHM_v11.glb"
                alt="modèle 3D de la mosquée"
                auto-rotate
                camera-controls
                camera-orbit="-60deg 85deg 1m">
            </model-viewer> -->
            <canvas id="canvas"></canvas>
        </div>
    </section>

    <script src="../static/js/main.js"></script>

</body>
</html>