<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    
    <section id="landing-page">

        <nav>
        
            <span class="left">
                <a href="#" class="nav-link logo">RAHM</a>
            </span>
            <span class="right">
                <a href="#" class="nav-link">Horaires</a>
                <a href="#" class="nav-link">A propos</a>
                <a href="#" class="nav-link">Services</a>
                <button></button>
            </span>

        </nav>

        <div>

            <div class="bg"></div>
            <div class="left">
                <div class="social-media"></div>
                <div class="social-media"></div>
                <div class="social-media"></div>
            </div>
            <div class="mid">
                <h1>مسجد المحسنين</h1>
                <p>Ouverte à tous, au service de chacun.</p>
            </div>
            <div class="right">
                <p><span></span> 179se. (Hamza.C) <span></span></p>
            </div>

        </div>

    </section>

</body>
</html>