:root{
    --bg-primary: #1a1b20;
    --bg-secondary: rgb(63, 64, 69);

    --txt-color: white;
    --txt-hover: rgb(0, 255, 21);
}

*{
    padding: 0; margin: 0;
    scroll-behavior: smooth;
    cursor: none;
}

body{
    background: var(--bg-primary);
    background: radial-gradient(
        circle at 0% 0%, 
        var(--bg-secondary) 0%, 
        var(--bg-primary) 85%);
    color: var(--txt-color);
    background-size: 25% 25% cover;
    background-repeat: no-repeat;

    font-family: "Montserrat";
    font-weight: 200;
    min-height: 400vh;
    min-height: 3500px;

}



a{
    text-decoration: none;
    color: var(--txt-color);
}

/* cursor */

#cursor > .slow, #cursor > .fast {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999999;
}

#cursor .slow .scaler {
  width: 140px;
  height: 140px;

  backdrop-filter: invert(1);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

#cursor .fast .scaler {
  width: 50px;
  height: 50px;

  backdrop-filter: invert(1);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* pop-ups */

#popups{
    position: fixed;
    pointer-events: none;
    width: 100vw; height: 100vh;
}
.add-to-clipboard{
    
    position: absolute;
    bottom: 0px; left: 50%;
    transform: translateX(-50%) translateY(0px);

    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;

    background-color: var(--bg-primary);
    filter: invert(1);

    transition: transform .3s ease, opacity .3s ease;
}
.add-to-clipboard.active{
    transform: translateX(-50%) translateY(-40px);
    opacity: 1;
}

/* landing page */

#landing-page{
    height: 100vh;
    min-height: 400px;
}

#landing-page nav{
    position: fixed;
    width: 100vw; height: 75px;
    display: flex; gap: 5px;
    background-color: var(--bg-primary);

    z-index: 999999;
}
#landing-page nav>span{
    flex: 1;
    display: flex;
    align-items: center;
}
#landing-page nav .left{
    justify-content: start;
}
#landing-page nav .right{
    justify-content: end;
}

#landing-page .logo{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    width: 45px; height: 45px;
    margin-left: 2vw;
    
    gap: 4px;
}
#landing-page .logo span{
    height: 22.5px;
    font-family: "Xanh Mono";
    font-size: xx-large;


    display: flex;
    align-items: center;
}

#landing-page .nav-link{
    padding: 10px 2vw;
    margin-inline: 5px;

    white-space: nowrap;

    transition: color .5s ease;
}
#landing-page .nav-link:hover{
    color: var(--txt-hover);
}

#landing-page>div{
    width: 100%; height: 100%;
    display: flex;
}
#landing-page>div .left,
#landing-page>div .right{
    flex: 1;
}
#landing-page>div .mid{
    flex: 8;
}
#landing-page>div .left{
    display: flex; flex-direction: column;
    justify-content: end; align-items: center;
    gap: 10px;
    padding-block: 20px;
}
#landing-page>div .left .social-media{
    width: 45px; height: 45px;
    display: flex;
    justify-content: center; align-items: center;

    /* cursor: pointer; */
    border: none;

    background-color: transparent;
    color: var(--txt-color);

    transition: color .5s ease;
}
#landing-page>div .left .social-media:hover{
    color: var(--txt-hover);
}

#landing-page>div .mid{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}
#landing-page>div .mid h1{
    display: flex; flex-direction: column;
    align-items: end;
    width: fit-content;
    text-align: center;

    font-size: max(3em, 7vw);
    font-weight: bold;
}
#landing-page>div .mid h1 span{
    width: fit-content;
    margin-inline: 1vw;

    font-size: max(8px, .8vw);
    font-style: italic;
    font-weight: 200;
}

#landing-page>div .right{
    display: flex; flex-direction: column;
    justify-content: end; align-items: center;
    gap: 10px;
    padding-block: 20px;
}
#landing-page>div .right p{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: "Martian Mono";
    font-size: x-small;
}
#landing-page>div .right span{
    width: 1px; height: 20px;
    background-color: var(--txt-color);
}

/* prayer times */

#prayer-times{
    display: flex; flex-direction: column;
    padding-block: 80px;
}

#prayer-times .current-date,
#prayer-times .prayer-box,
#prayer-times .sub-text{
    flex: 1;
}

#prayer-times .current-date{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;

    font-family: "Montserrat";
}
#prayer-times .current-date h1{
    font-size: min(15vw, 5em);
}
#prayer-times .current-date p{
    font-size: min(8vw, 1em);
}

#prayer-times .prayer-box{
    display: flex;
    justify-content: center; align-items: center;

    flex-wrap: wrap;

    padding: 40px;
    gap: 20px;
}
#prayer-times .prayer-box div{
    width: clamp(150px, 15vw, 400px);
    height: clamp(150px, 15vw, 400px);

    display: flex; flex-direction: column;
    justify-content: space-evenly; align-items: center;
    flex-shrink: 0;

    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);

    border-radius: 25px;
    transform: scale(1);

    transition: background-color .5s ease, box-shadow .5s ease, transform .5s ease;
}
#prayer-times .prayer-box div.active{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 10px 10px 40px 0 rgba(255, 255, 255, 0.1);
    transform: scale(1);
}
#prayer-times .prayer-box div span{
    padding: 10px;
    font-size: max(1em, 1vw);
}


#prayer-times .sub-text{
    display: flex; flex-direction: column;
    justify-content: start; align-items: center;
    gap: 20px;
}
#prayer-times .sub-text p{
    padding-inline: 10vw;
    text-align: center;
    font-size: min(2vw, 1em);
}

/* about */

#about{
    
    height: 500vh;
}

#about>.slidder{
    width: 100vw; height: 100vh;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    position: sticky;
}

#about .left,
#about .right{
    flex: 1;

    min-width: 250px;
    padding-block: 10px;

    overflow: visible;
}
#about .left{
    display: flex; flex-direction: column;
    justify-content: center;
    gap: 40px;
}
#about .left span{
    text-align: center;
    padding-inline: 5vw;
    display: flex; flex-direction: column;
    gap: 20px;
}

#about .left span:nth-child(1) h1{
    font-size: min(4vw, 2em);

}
#about .left span:nth-child(2) h4{
    font-size: min(3vw, 1.5em);

}
#about .left span p{
    font-size: min(2vw, 1em);
}

#about .right{
    display: flex;
    justify-content: center; align-items: center;
    overflow: visible;
}

#about .right model-viewer{
    overflow: visible;
    height: 100%;
    width: 100%;
}

/* services */

 #services{
    display: flex;
    padding: 4vw;
    gap: 4vw;
    flex-wrap: wrap;
}

#services div{
    flex: 1;
    min-width: 250px;
    min-height: 250px;

    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 20px;

    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
}

#services div h2{
    flex: 1;
    width: 100%;

    display: flex;
    justify-content: center; align-items: center;
    text-align: center;

    font-size: 1.5em;
}
#services div ul{
    flex: 3;
    width: 100%;

    display: flex; flex-direction: column;
    justify-content: space-evenly; align-items: center;
    text-align: center;
}
#services div ul li{
    font-size: 1em;
    list-style: none;
}

/* footer */

footer{
    min-height: 100px;
    display: flex;

    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .left,
footer .right{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 2vw;
}

footer .left{
    justify-content: start;
}
footer .left .social-media{
    width: 45px; height: 45px;
    display: flex;
    justify-content: center; align-items: center;

    /* cursor: pointer; */
    border: none;

    background-color: transparent;
    color: var(--txt-color);

    transition: color .5s ease;
}
footer .left .social-media:hover{
    color: var(--txt-hover);
}

footer .right{
    justify-content: end;
}
footer .right p{
    font-family: "Martian Mono";
    font-size: x-small;
}
footer .right span{
    width: 20px; height: 1px;
    background-color: var(--txt-color);
}